<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">ABCD - A Breast Cancer Detector</h1>
            <strong><nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/inputs">Detect</a></li>
                <li><a href="/lookup">Look Up</a></li>
            </ul>
            </nav></strong>
        </div>
    </header>

    <form action= "/results">
        <input name="Clump Thickness" type="text">
        <input name="Uniformity of Cell Size" type="text">
        <input name="Uniformity of Cell Shape" type="text">
        <input name="Marginal Adhesion" type="text">
        <input name="Single Epithelial Cell Size" type="text">
        <input name="Bare Nuclei" type="text">
        <input name="Bland Chromatin" type="text">
        <input name="Normal Nucleoli" type="text">
        <input name="Mitoses" type="text">
        <input type="submit">
      </form>
</body>
</html>